body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}

body,
main,
div,
form,
label,
input,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: #f4f4f9;
}

#output-field {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
}

#container {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1800px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

#output-field {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

label {
  margin-top: 10px;
  font-size: 0.9em;
  color: #333;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
}

#date-wrapper {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
input[type="month"] {
  padding: 10px;
  /* width: calc(50% - 20px); */
  width: 80%;
  display: flex;
  flex-direction: column;
}

#date-input {
  margin-right: 20px;
}

#cvv-input {
  margin-left: 40px;
  padding: 10px;
  /* width: calc(50% - 30px); */
  width: 80%;
  display: flex;
  flex-direction: column;
}

#cvv-label {
  margin-left: 150px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.credit-card {
  width: 300px;
  height: 190px;
  border-radius: 15px;
  /* background: linear-gradient(135deg, #1f4037, #99f2c8); */
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bank-name {
  font-size: 18px;
  font-weight: bold;
}

.chip {
  width: 40px;
  height: auto;
}

.card-number {
  font-size: 18px;
  letter-spacing: 2px;
  margin: 10px 0;
  text-align: center;
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.card-holder,
.expiration-date {
  text-align: left;
}

.label {
  font-size: 10px;
  text-transform: uppercase;
  display: flex;
}

.value {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  display: flex;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.visa-logo {
  width: 50px;
  height: auto;
}

/* Responsive design */
@media (max-width: 600px) {
  .credit-card {
    width: 100%;
    padding: 15px;
  }
}

/* Tooltip */

.tooltip {
  position: relative;
  display: inline-block;
  margin-top: 8px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 82%;

  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
